.idea/
venv/
crnn_output/east/*.txt
crnn_output/layout_analysis/*.txt
east_output/predict/*.jpg
east_output/quad/*.jpg
LA_output/letter/*.jpg
LA_output/line/*.jpg
LA_output/par/*.jpg
LA_output/word/*.jpg
pixel_anchor_output/*.jpg
recs/*.jpg
sample/*.pdf
text_detect/east/pre_model/*.h5
text_detect/pixel_anchor/pre_model/*.pth
text_recognize/*.txt
text_recognize/data/temp/*.jpeg
text_recognize/job_random_jp/
text_recognize/pre_model/
*__pycache__/


